.cardContainer {
  width: 200px;
  height: 330px;
  padding: 18px 0 15px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(255, 200, 100, 0.2);
  transition: box-shadow 0.3s ease;
  color: rgb(255, 255, 255);
  position: relative;
}

.cardYear {
  text-align: center;
  width: 120px;
  background: #06445c;
  background: linear-gradient(
    90deg,
    rgba(6, 68, 92, 1) 0%,
    rgba(15, 102, 53, 1) 50%,
    rgba(84, 87, 0, 1) 100%
  );
  padding: 3px 0;
  border-radius: 10px;
  position: absolute;
  top: 5px;
}

.cardInfoBox {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 180px;
  flex-grow: 1;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px); /* frosted glass blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 0 0 12px 12px;
  border: 1x solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

  color: #fff;
}
