@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --navbar-height: 64px; /* adjust to match navbar */
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Roboto", system-ui, sans-serif;
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}
