.board {
  box-sizing: border-box;
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  overflow: hidden; /* change to auto if you want internal scrolling */
  background-color: rgb(0, 9, 14);
}
